*{
    box-sizing:border-box;
}

body{
    background-color: rgb(138, 184, 180);
    height: 100vh;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;

}

button, button a{
    color:#000000;
    text-decoration:none;
}

#container{
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:'Trebuchet MS', Arial, sans-serif;
    max-width: 600px;
}

h1{
    font-family: 'Lobster', cursive;
    margin-bottom:30px;
    font-size: 32px;
}

#top{
    background-color: rgb(221, 193, 142);
    padding: 20px;
    border-radius: 10px;
    width:90%;
    font-size:15px;
}

#genre{
    border-style: none;
    border-radius: 5px;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

#btnGet{
    margin-top:15px;
    width: 60%;
    border-style: none;
    height: 30px;
    border-radius: 15px;
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(140, 140, 196);

}

#btnDisplayAnswer{
    width: 100%;
    border-style: none;
    height: 40px;
    border-radius: 15px;
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(189, 144, 115);
}



.display{
    margin-top:20px;
    background-color: rgb(240, 228, 228);
    padding:10px;
    border-radius: 5px;
    width:90%;
    font-size: 15px;
    padding:20px;
}
#category{
    font-family: 'Lobster', cursive;
    font-size:20px;
    margin-bottom: 10px;
}
#question{
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.2;
}

#btnChoices{
    border-style: none;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    font-size:15px;
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(152, 134, 168);

}
.choiceBtn{
    display:none;
}

li{
    list-style: decimal;
}

#Choices{
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5;
}


#answer{
color:rgb(75, 72, 72);
font-size:20px;
margin-top:20px;
}



@media (min-width:400px){
    h1{
       font-size: 42px;
    }
    #top{
        font-size:18px;
    }
    #display{
        font-size: 20px;
    }
    #genre{
        font-size: 18px;
    }
    
    #btnGet{
        font-size: 18px;
    }
    
    #btnDisplayAnswer{
        font-size: 18px;
    }

    #category{

        font-size:30px;
}

}




